<a href="https://colab.research.google.com/github/DavideColnago97/Lesson-Data-Analysis-with-Python-/blob/master/Esercitazioni_series_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Import the numpy package under the name np
import numpy as np

# Import the pandas package under the name pd
import pandas as pd

# Print the pandas version and the configuration

In [3]:
print(pd.__version__)

1.1.5

### Create an empty pandas Series

In [4]:
Series=pd.Series()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

### Given the X python list convert it to an Y pandas Series

In [5]:
X=['A','B','C']

In [8]:
Y=pd.Series(X)
print(Y,type(Y))

0    A
1    B
2    C
dtype: object <class 'pandas.core.series.Series'>

### Given the X pandas Series, name it 'My letters'

In [11]:
Y=pd.Series(X,name='My letters')
print(Y)

0    A
1    B
2    C
Name: My letters, dtype: object

In [13]:
X=pd.Series(['A','B','C'], name='My letters')
X

0    A
1    B
2    C
Name: My letters, dtype: object

### Given the X pandas Series, show its values

In [14]:
X.values

array(['A', 'B', 'C'], dtype=object)

### Assign index names to the given X pandas Series

In [18]:
index_names=(['first letter','second letter','third letter'])
X.index=index_names
X

first letter     A
second letter    B
third letter     C
Name: My letters, dtype: object

In [19]:
X.index

Index(['first letter', 'second letter', 'third letter'], dtype='object')

### Given the X pandas Series, show its first element

In [20]:
X[0]

'A'

### Given the X pandas Series, show its last element

In [21]:
X[-1]

'C'

In [29]:
X1=pd.Series(['A','B','C'],index=['first','second','third'])
X1
print(X1)
X2=pd.Series(['D','E','F'],index=['fourth','fifth','sixth'])
print(X2)

first     A
second    B
third     C
dtype: object
fourth    D
fifth     E
sixth     F
dtype: object

In [30]:
X=X1.append(X2)
X

first     A
second    B
third     C
fourth    D
fifth     E
sixth     F
dtype: object

### Given the X pandas Series, show its last element

### Given the X pandas Series, show all middle elements

In [31]:
X[1:-1]

second    B
third     C
fourth    D
fifth     E
dtype: object

### Given the X pandas Series, show the elements in reverse position

In [32]:
X[::-1]

sixth     F
fifth     E
fourth    D
third     C
second    B
first     A
dtype: object

### Given the X pandas Series, show the first and last elements

In [33]:
X[[0,-1]]

first    A
sixth    F
dtype: object

## Series manipulation
### Convert the given integer pandas Series to float

In [36]:
X = pd.Series([1,2,3,4,5,6],
              index=['first','second','third','forth','fifth','sixth'])

pd.Series(X, dtype=np.float32)

first     1.0
second    2.0
third     3.0
forth     4.0
fifth     5.0
sixth     6.0
dtype: float32

### Reverse the given pandas Series (first element becomes last)

In [39]:
pd.Series(X[::-1])

X

first     1
second    2
third     3
forth     4
fifth     5
sixth     6
dtype: int64

### Order (sort) the given pandas Series

In [40]:
X.sort_values()

first     1
second    2
third     3
forth     4
fifth     5
sixth     6
dtype: int64

### Given the X pandas Series, set the fifth element equal to 10

In [44]:
X[4]=10
X[5]=6
X

first      1
second     2
third      3
forth      4
fifth     10
sixth      6
dtype: int64

### Given the X pandas Series, change all the middle elements to 0

In [45]:
X[1:-1]=0
X

first     1
second    0
third     0
forth     0
fifth     0
sixth     6
dtype: int64

### Given the X pandas Series, add 5 to every element

In [48]:
X+=5
X

first      6
second     5
third      5
forth      5
fifth      5
sixth     11
dtype: int64

## Series boolean arrays (also called masks)
### Given the X pandas Series, make a mask showing negative elements

In [53]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10],dtype=np.int8)
mask=X<0
mask

0     True
1    False
2    False
3     True
4    False
5    False
6    False
7    False
8     True
9    False
dtype: bool

### Given the X pandas Series, get the negative elements

In [54]:
X[mask]

0   -1
3   -4
8   -9
dtype: int8

### Given the X pandas Series, get numbers higher than 5

In [55]:
mask=X>5
X[mask]

5     6
9    10
dtype: int8

### Given the X pandas Series, get numbers higher than the elements mean

In [56]:
X[X>=X.mean()]

1     2
4     5
5     6
9    10
dtype: int8

### Given the X pandas Series, get numbers equal to 2 or 10

In [57]:
X[(X==2)|(X==10)]

1     2
9    10
dtype: int8

## Logic functions
### Given the X pandas Series, return True if none of its elements is zero

In [64]:
X.all()

False

### Given the X pandas Series, return True if any of its elements is zero

In [65]:
X.any()

True

## Summary statistics
### Given the X pandas Series, show the sum of its elements

In [66]:
X.sum()

9

### Given the X pandas Series, show the mean value of its elements

In [67]:
X.mean()

0.9

### Given the X pandas Series, show the max value of its elements

In [68]:
X.max()

10